# Apresentando Ferramentas - Hands On

## NumPy

In [0]:
# Crie um array numpy multidimensional com as seguintes listas:
list_1 = [1, 2, 3, 4]
list_2 = [-3, -8, 29, 0]
list_3 = [10, 4, -1, 9000]

# Insira seu código abaixo:

*Dica*: Não esqueça de importar a biblioteca NumPy


---

In [0]:
# Print as duas primeiras linhas e as três primeiras colunas do array NumPy criado acima:

*Dica:* Para iterar em um array NumPy:

`my_array[ LINHAS , COLUNAS ]`


---

In [0]:
# Eleve array multidimensional NumPy ao quadrado:

## pandas

In [0]:
# Leia o dataset "adult.data":

col_names = ["age", "workclass", "fnlwgt", "education", "education-num",
             "marital-status", "occupation", "relationship",
             "race", "sex", "capital-gain", "capital-loss",
             "hours-per-week", "native-country"]


# Exiba as 10 PRIMEIRAS linhas do dataframe:

*Dica:* o método que exibe as primeiras linhas é o .head(). Não esqueça que ele têm parâmetro para exibir quantas linhas quiser.


---

In [0]:
# Mostre quantas pessoas do sexo masculino e feminino existem na base de dados:

*Dica:* Para contabilizar os valores de uma coluna ou de um dataframe utilza-se o método: 

```
.value_counts()
```
Lembre-se de utilizar o nome da coluna "sex".

---

### Plotagem

In [0]:
# Importe as bibliotecas necessárias para realizar a plotagem, assim como foi mostrado pelos instrutores

In [0]:
# Utilizando o Seaborn, e o dataset da atividade anterior plote um gráfico para observar 
# a quantidade de pessoas de cada sexo

In [0]:
# Mostre o heatmap de correlação dos dados e observe quais estão mais correlacionados

# Exercício - KNN: 

###Utilize o dataset já disponibilizado para treinar e testar um modelo KNN.
###Para facilitar, observe como foi feito pelos instrutores.

###A tarefa é escolher o melhor valor de K para maximizar a acurácia do modelo.

###Boa sorte!

In [0]:
#@title Execute esta célula antes de seguir para a atividade. (Lembre-se de fazer upload do Dataset "diabetes.csv")

import pandas as pd
import numpy as np

data = pd.read_csv('diabetes.csv')

y = data.Outcome
X = data.drop('Outcome', axis=1).replace(0,np.NaN)
X.fillna(method='ffill', inplace=True)

data = pd.concat([X, y], axis=1)
data.dropna(inplace=True)

In [0]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
3          1.0     89.0           66.0  ...                     0.167   21        0
4          1.0    137.0           40.0  ...                     2.288   33        1
5          5.0    116.0           74.0  ...                     0.201   30        0
6          3.0     78.0           50.0  ...                     0.248   26        1
7         10.0    115.0           50.0  ...                     0.134   29        0

[5 rows x 9 columns]

# Tratamento de Dados - Hands On

## Dados faltando

In [0]:
# Identifique quais colunas além da "workclass" também possuem dados faltantes:


# Após identificar, atribua aos dados faltantes o valor categórico que mais apareceu:

## Dados Categóricos

In [0]:
# Assim como no exemplo mostrado, transforme as colunas utilizando o Binary Encoder

cols = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

binary_encoder = ce.BinaryEncoder(cols=cols, drop_invariant=True)

# Quantas colunas têm o novo dataframe ?

*Dica:* Utilize o atributo shape:


```
dataframe.shape
```
---